env/
# **/migrations/
# */migrations/
media/
*/media/
*/*/media/
*/*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
__pycache__
*/*/__pycache__/*
*/*/*/*/*/__pycache__


*/*/migrations/*
*/migrations/*
!migrations/__init__.py
*/*/__pycache__/*
*/*/*/__pycache__/*
*/__pycache__/*
*/*/*/*/*/.pyc
*/*/*/*/.pyc
*/*/*/.pyc
*/*/.pyc


# */settings.py
# */*/settings.py
# settings.py





