{% extends 'layouts/login.html' %}
{% load static %}
{% block 'maincontent' %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'login' %}"><b>{{ APP_NAME }} Admin</b></a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <form >
         <div class="form-group text-center">
            <div class="info-text">
               Your password has been set. You may go ahead {% comment %}and <a href="{% url 'login' %}">sign in</a>{% endcomment %} now.
            </div>
         </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}