{% extends 'layouts/login.html' %}
{% load static %}
{% block 'maincontent' %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'login' %}"><b>{{ APP_NAME }} Admin</b></a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      {% if form %}
        <p class="login-box-msg">Enter new password</p>
        <form method="post">
           {% csrf_token %}
           <div class="form-group text-center">
              <div class="info-text">
                 Please enter your new password twice so we can verify you typed it in correctly.
              </div>
           </div>

           {% for field in form %}
               <div class="form-group">
                  <input type="password" class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %} placeholder="{{ field.label }}">
                  <label for="{{ field.id_for_label }}" class="error">{{ field.errors }}</label>
               </div>
           {% endfor %}
           <button type="submit" class="btn btn-primary w-100 mb-4">Reset password</button>
           {% comment %}
           <div class="form-group text-center">
              <div class="info-text">
                 <a href="{% url 'signin' %}">  Back To Login  </a>
              </div>
           </div>
           {% endcomment %}
        </form>
      {% else %}
        <div class="form-group text-center">
            <div class="info-text">
               Link has been expired.
            </div>
         </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock%}
