{% extends 'index.html' %}
{% load static %}
{% block title %} Reset password {% endblock %}
{% load i18n %}

{% block main %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'dashboard' %}"><b>Iance</b></a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
               <input type="text" class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %} placeholder="{{ field.label }}">
               <label for="{{ field.id_for_label }}" class="error">{{ field.errors }}</label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary w-100 mb-4">SEND EMAIL</button>
        <div class="form-group text-center">
          {% comment %}
           <div class="info-text">
              <a href="{% url 'signin' %}">  Back To Login  </a>
           </div>
           {% endcomment %}
        </div>
     </form>
    </div>
  </div>
</div>
{% endblock%}
