{% autoescape off %}
<table class="wrapper" style="font-family: Avenir, Helvetica, sans-serif; background-color: #f5f8fa; margin: 0; padding: 0; width: 100%;" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="font-family: Avenir, Helvetica, sans-serif;" align="center">
                <table class="content" style="font-family: Avenir, Helvetica, sans-serif; margin: 0; padding: 0; width: 100%;" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="header" style="font-family: Avenir, Helvetica, sans-serif; padding: 25px 0; text-align: center; background:#700025; font-size: 20px; color:#fff; font-weight: bold;">{{ site_name }}</td>
                        </tr>
                        <tr>
                            <td class="body" style="font-family: Avenir, Helvetica, sans-serif; background-color: #ffffff; border-bottom: 1px solid #EDEFF2; border-top: 1px solid #EDEFF2; margin: 0; padding: 0; width: 100%;" width="100%">
                                <table class="inner-body" style="font-family: Avenir, Helvetica, sans-serif; background-color: #ffffff; margin: 0 auto; padding: 0; width: 570px;" width="570" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td class="content-cell" style="font-family: Avenir, Helvetica, sans-serif; padding: 35px;">
                                                <h1 style="font-family: Avenir, Helvetica, sans-serif; color: #2f3133; font-size: 19px; font-weight: bold; margin-top: 0; text-align: left;">Dear {{ user.first_name }},</h1>
                                                <p style="font-family: Avenir, Helvetica, sans-serif; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">Need to reset your password? </p>
                                                <p style="font-family: Avenir, Helvetica, sans-serif; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">Use your secret code! </p>
                                                <table class="wrapper" style="font-family: Avenir, Helvetica, sans-serif; background-color: #f5f8fa; margin: 0px; padding: 0px; width: 500px; height: 93px;" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 150px;">
                                                                <p style="font-family: Avenir, Helvetica, sans-serif; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">  OTP Code : </p>
                                                            </td>
                                                            <td style="width: 350px;">
                                                                <p style="font-family: Avenir, Helvetica, sans-serif; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">{{ otp_code }}</p>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <p style="font-family: Avenir, Helvetica, sans-serif; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">If you did not forget your password, you can ignore this email.&nbsp;</p>
                                                <p style="font-family: Avenir, Helvetica, sans-serif; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">Regards, <br />Team {{site_name}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family: Avenir, Helvetica, sans-serif;">
                                <table class="footer" style="font-family: Avenir, Helvetica, sans-serif; margin: 0 auto; padding: 0; text-align: center; width: 570px;" width="570" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td class="content-cell" style="font-family: Avenir, Helvetica, sans-serif; padding: 35px;" align="center">
                                                <p style="font-family: Avenir, Helvetica, sans-serif; line-height: 1.5em; margin-top: 0; color: #aeaeae; font-size: 12px; text-align: center;">&copy; {% now 'Y' %} {{APP_NAME}}. All rights reserved.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endautoescape %}