{% extends 'layouts/admin.html' %}
{% load static %}
{% block 'maincontent' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{page_name}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">{{page_name}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                {% if show_add == True %}
                <a href="{% url 'faq.add' %}">
                  <button class="btn btn-primary btn-round ml-auto">
                    <i class="fas fa-plus"> </i> &nbsp; Add New {{page_name}}
                  </button>
                </a>
                {% endif %}
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th class="action">Action</th>
                  </tr>
                  </thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block 'script' %}
<script>
  $(function () {
    tables = $('#example1').DataTable({
        "bProcessing": true,
        "serverSide": true,
        "pageLength": 10,
        "order": [[0, "desc"]],
        "ajax": {
            url: "{% url 'faq_list' %}",
            //method:"POST",
            error: function () {
                alert("something went wrong");
            }
        },
        "aoColumns": [
            {mData: 'sno'},
            {mData: 'title'},
            {mData: 'created_at'},
            {mData: 'status'},
            {mData: 'actions'}
        ],
        language: {
                searchPlaceholder: "Search"
        },
        "aoColumnDefs": [
            {"bSortable": false, "aTargets": ['action']}
        ],
        "fnDrawCallback": function() {

        },
    });
  });
</script>
{% endblock %}