{% extends 'layouts/admin.html' %}
{% load static %}
{% block 'maincontent' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Change Password</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Change Password</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <form id="quickForm" method="POST" action="{% url 'change_password' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="title">Current Password</label>
                        <input type="password" value="" name="current_password" class="form-control" id="current_password" placeholder="Current Password">
                        {{ form.current_password.errors }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="title">New Password</label>
                        <input type="password" value="" name="new_password" class="form-control" id="new_password" placeholder="New Password">
                        {{ form.new_password.errors }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="title">Confirm Password</label>
                        <input type="password" value="" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password">
                        {{ form.confirm_password.errors }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              <div class="card-footer">
                <a href="{% url page_url %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block 'script' %}
<!-- ChartJS -->
<script>
  var readURL = function(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).closest('.uploads_outer').find('.profile-pic').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $(document).ready(function() {
    $(".upload-button").on('click', function() {
      $(this).closest('div').find(".file-upload").click();
    });
    $(".file-upload").on('change', function(){
      readURL(this);
    });
  });
</script>
{% endblock %}